---
---

$font-family-default: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$nav-breakpoint: 720px;
$nav-height-mobile: 60px;
$nav-height: 100px;

h1 {
  margin-top: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-default;
  color: #5b616b;
  font-weight: lighter;
}

body:not(.front) {
  padding-top: $nav-height-mobile;
  @media only screen and (min-width: $nav-breakpoint) {
    padding-top: $nav-height;
  }
}

nav.nav-topnav {
  transition: all 0.25s ease;
  background-color: black;
  // background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  &.nav-transparent {
    @media only screen and (min-width: $nav-breakpoint) {
      background-color: transparent;
      margin: 1em auto;
    }
  }

  a:hover {
    text-decoration: none;
  }

  .nav-title {
    float: left;
    @media only screen and (min-width: $nav-breakpoint) {
      display: inline-block;
    }

    a.nav-title-logo img {
      float: left;
      margin: 10px 10px 10px 0;
      width: 40px;
      height: 40px;
      @media only screen and (min-width: $nav-breakpoint) {
        width: 80px;
        height: 80px;
      }
    }

    a.nav-title-text {
      display: inline-block;
      padding: 24px 0 0 0;
      font-size: 20px;
      font-weight: lighter;
      color: white;
      @media only screen and (min-width: $nav-breakpoint) {
        padding: 38px 0 0 0;
        font-size: 40px;
      }
    }
  }

  .nav-toggle {
    float: right;
    @media only screen and (min-width: $nav-breakpoint) {
      display: none;
    }

    a {
      line-height: $nav-height-mobile;
      display: block;
      padding: 0 1em;
      color: white;
    }
  }

  ul.nav-list {
    display: none;
    width: 100%;
    @media only screen and (min-width: $nav-breakpoint) {
      display: block;
      width: auto;
      float: right;
    }

    &.nav-revealed {
      display: inline-block;
    }

    li {
      display: block;
      @media only screen and (min-width: $nav-breakpoint) {
        display: inline-block;
      }
    }

    li a {
      line-height: $nav-height-mobile;
      display: block;
      padding: 0 1em;
      font-weight: lighter;
      color: white;
      border-top: 1px dotted #333;
      @media only screen and (min-width: $nav-breakpoint) {
        margin: 38px 0 0 0;
        font-size: 20px;
        // font-weight: normal;
        text-transform: uppercase;
        border: none;
      }
    }
  }
}

header#front-hero {
  color: white;
  background-color: black;
  background-image: url(../img/whitehouse_bg.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: ($nav-height-mobile + 20px);
  padding-bottom: 20px;
  @media only screen and (min-width: $nav-breakpoint) {
    min-height: 600px;
  }

  .header-blurb {
    background: radial-gradient(rgba(0, 0, 0, 0.6) 30%, transparent 70%);
    @media only screen and (min-width: $nav-breakpoint) {
      margin-top: ($nav-height + 80px);
    }

    h1 {
      color: white;
      font-weight: bold;
      margin: 0;
      padding: 0;
      text-align: center;
      @media only screen and (min-width: $nav-breakpoint) {
        font-size: 3em;
      }
    }

    p {
      font-weight: lighter;
      text-align: center;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
      @media only screen and (min-width: $nav-breakpoint) {
        font-size: 2em;
      }
    }
  }
}

.page-content {
  min-height: 30em;
}

ul.team {
  li {
    float: left;
    width: 150px;
    height: 250px;
    margin: 0 0 1em 0;
    text-align: center;

    img {
      border-radius: 50%;
      height: 100px;
      width: 100px;
    }
  }

  .member-role, .member-group {
    color: #555;
    font-size: 0.9em;
  }
}

.team-member {
  margin-top: 1em;
  h1 {
    margin-top: 0;
  }

  .member-role, .member-group {
    color: #555;
    font-size: 1.2em;
  }

  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 200px;
  }
}

footer.usa-footer a.usa-footer-primary-link {
  color: #4c2c92;
  font-weight: lighter;
}

footer.usa-footer .usa-footer-secondary_section {
  background-color: #333;
}

footer img.gsads-logo {
  width: auto;
  height: 120px;
}
