---
layout: page
title: Cloud Strategy Products
permalink: /cloud-strategy-products/
--- 
<h1>GSA Cloud Products</h1>


<div class="cloud-products">
    {% for product in site.cloud-strategy-products %}
      {% assign loopstatus = forloop.index | modulo: 3 %}
      {% if loopstatus == 1 %}<div class="usa-grid">{% endif %}
      <div class="product usa-width-one-third">
        <div class="product-picture">
            {% if product.picture %}
            <img src="{{ site.baseurl }}/assets/img/cloud-strategy/{{ product.picture }}" alt="Picture of {{ product.name }}">
           {% else %}
            <img src="{{ site.baseurl }}/assets/img/cloud-strategy/govt-cloud.jpg" alt="" class="product-picture-none">
           {% endif %}
        </div>
        <div class="product-name">
          {% if product.slug %}
            <h2><a href="{{ site.baseurl }}/cloud-strategy-products/{{ product.slug }}">{{ product.name }}</a></h2>
          {% else %}
            <h2>{{ product.name }}</h2>
          {% endif %}
        </div>
        {% if product.short_description %}
          <div class="product-short-description">
            {{ product.short_description }}
          </div>
        {% endif %}
      </div>
      {% if loopstatus == 0 %}
        </div>
      {% elsif forloop.last %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
  
