---
title: Guides
permalink: /guides/
custom_js:
  - guides
---

{% assign categories = "" | split: "" %}
{% for guide in site.guides %}
  {% assign categoryName = guide.category | strip %}
  {% assign categories = categories | push: categoryName | uniq | sort %}
{% endfor %}
{% assign categories = categories | uniq | sort %}

<h1>GSA Tech Guides</h1>

<p>These guides are a collection of best practices that the GSA CTO team strives to follow. They include high-level strategy documents, practical project management approaches, and technology approaches based on the GSA CTO vision.</p>

<p>We encourage comments via opening an issue at our <a href="https://github.com/GSA/cto-website/issues">GitHub repo</a>.</p>

<div class="grid-row grid-gap">
  <div class="tablet:grid-col-3">
    <div class="position-sticky top-3 margin-top-3">
      <form class="usa-form">
        <fieldset class="usa-fieldset guides-filter">
          <legend class="usa-legend">Categories</legend>
          {% for category in categories %}
          <div class="usa-checkbox">
            <input class="usa-checkbox__input guides-filter-category" id="category-{{ category | slugify }}" type="checkbox" name="categories" value="{{ category }}" checked>
            <label class="usa-checkbox__label" for="category-{{ category | slugify }}">{{ category }}</label>
          </div>
          {% endfor %}
        </fieldset>
        <button type="submit" class="usa-sr-only">Filter</button>
      </form>
    </div>
  </div>

  <div class="tablet:grid-col-9">
    {% for category in categories %}
      <div class="guides-section" data-category="{{ category }}">
        <h2 class="guides-table-category-heading">{{ category }} Guides</h2>
        <table class="usa-table usa-table--borderless width-full">
          <thead class="usa-sr-only">
            <tr>
              <th id="guides-table-heading-title-{{ category | slugify }}" scope="col">Title</th>
              <th id="guides-table-heading-description-{{ category | slugify }}" scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            {% for guide in site.guides %}
              {% if guide.category == category %}
                <tr class="guides-table-row">
                  <td headers="guides-table-heading-title-{{ category | slugify }}"><a href="{{ guide.url | prepend: site.baseurl }}">{{ guide.title }}</a></td>
                  <td headers="guides-table-heading-description-{{ category | slugify }}">{{ guide.description }}</td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endfor %}
  </div>
</div>
