---
title: Guides
permalink: /guides/
---

<h1>Guides</h1>

<aside class="usa-width-one-fourth guide-nav">
  <ul class="usa-sidenav-list">
    <li><a href="{{ page.url | prepend: site.baseurl }}" class="usa-current">All guides</a></li>
    {% for audience in site.data.guides.audiences %}
      <li>
        <a href="{{ site.baseurl }}/guides/{{ audience.slug }}/">{{ audience.name }}</a>
      </li>
    {% endfor %}
  </ul>
</aside>

<div class="usa-width-three-fourths guide-content">
  <h2>GSA Tech Guides</h2>

  <p>These guides are a collection of best practices that the GSA CTO team strives to follow. They include high-level strategy documents, practical project management approaches, and technology approaches based on the GSA CTO vision.</p>

  <p><a href="{{ site.baseurl }}/#/" class="usa-current">Tech Talks</a> - GSA IT provided technology deep dives.  There are many opportunties for GSA employees to participate in upcoming events.  You can look through slides, audio, and video of past events.</p>

  <table class="usa-table-borderless">
    <thead class="usa-sr-only">
      <tr>
        <th id="guide-table-heading-title" scope="col">Title</th>
        <th id="guide-table-heading-description" scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      {% for category in site.data.guides.categories %}
      <tr>
        <th colspan="2" id="guide-table-heading-{{ category.slug }}"><b>{{ category.name }}</b></th>
      </tr>
        {% for guide in site.guides %}
          {% if guide.category == category.name %}
            <tr>
              <td headers="guide-table-heading-{{ category.slug }} guide-table-heading-title"><a href="{{ guide.url | prepend: site.baseurl }}">{{ guide.title }}</a></td>
              <td headers="guide-table-heading-{{ category.slug }} guide-table-heading-description">{{ guide.description }}</td>
            </tr>
          {% endif %}
        {% endfor %} <!--guide-->
      {% endfor %}<!--category-->
    </tbody>
  </table>
</div>
