---
title: Tech Talks
permalink: /techtalks/
---

<br>
<div class="usa-grid usa-width-one-fourth">
  <h1>Tech<br>&nbsp;&nbsp;&nbsp;Talks</h1>
</div>

  <p>The GSA CTO team hosts in-depth Tech Talks.  This is where members of the team discuss topics found in the <a href="{{ site.baseurl }}/guides/" class="usa-current">guides</a> affecting the agency.  They are 30 minute informal meetings for internal GSA members.  Demonstrations are often provided along with follow-up Q&amp;A.</p>

  <p>Register for upcoming events here and enjoy content from past events.  You can reach out to the presenter via contact information in the slides or through this site's feedback mechanisms.</p>

  <br><hr><br>

<div class="usa-grid">
    <div class="usa-width-one-whole">
        {% for event in site.data.techtalks %}

          <article class="card">
              <header>
                  <h3 class="title">{{ event.title }}</h3>
                  <p class="date">{{ event.date }}, {{event.time }}</p>
              </header>
              <div class="content">
                  <h3>Objective</h3>
                  <div class="txt">
                      {{ event.description }}
                  </div>
                  {% if event.location %}<p class="location">{{ event.location }}</p>{% endif %}
                  <h3>Who</h3>
                  <p>{{ event.presenter }}</p>
                  {% if event.register %}<a class="usa-button usa-button-outline" href="{{ event.register }}">Register</a>{% endif %}
                  {% if event.slides %}<a class="usa-button usa-button-outline" href="{{ event.slides | prepend: site.baseurl }}">Slides</a>{% endif %}
                  {% if event.recording %}<a class="usa-button usa-button-outline" href="{{ event.recording | prepend: site.baseurl }}">Recording</a>{% endif %}
              </div>
              <footer class="usa-card-footer">
              </footer>
          </article>

        {% endfor %}
    </div>
  </div>
