---
title: Tech Talks
permalink: /techtalks/
---

<h1>Tech Talks</h1>

<p>The GSA CTO team hosts in-depth Tech Talks. This is where GSA IT presenters discuss technology topics affecting the agency.  They are 30 minute informal meetings for internal GSA members.  Demonstrations are often provided along with follow-up Q&A.</p>

<p>Register for upcoming events here and enjoy content from past events. You can reach out to the presenter via contact information in the slides or through this site's feedback mechanisms.</p>

<p>For questions about the content of the Tech Talks not publicly available, please contact the GSA CTO team at <a href="mailto:cto@gsa.gov">cto@gsa.gov</a>.</p>

<ul class="usa-card-group">
  {% for event in site.techtalks reversed %}
    <li class="tablet:grid-col-12 usa-card">
      <div class="usa-card__container">
        <header class="usa-card__header">
          <h2 class="usa-card__heading">{{ event.title }}</h2>
          <p>{{ event.date | date_to_string: "ordinal", "US" }}, {{ event.time }}</p>
        </header>
        <div class="usa-card__body">
          <h3>Objective</h3>
          {{ event.content | markdownify }}
          {% if event.location %}
            <h3>Location</h3>
            <p>{{ event.location }}</p>
          {% endif %}
          <h3>Who</h3>
          <p>{{ event.presenter }}</p>
        </div>
        <div class="usa-card__footer">
          {% if event.register %}
            <a class="usa-button" href="{{ event.register }}">Register</a>
          {% endif %}
          {% if event.slides %}
            <a class="usa-button" href="{{ event.slides | relative_url }}">Slides</a>
          {% endif %}
          {% if event.recording %}
            <a class="usa-button" href="{{ event.recording | relative_url }}">Recording</a>
          {% endif %}
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
