---
title: Training
permalink: /training/
layout: base
---

<div class="usa-grid">
    <h1>Training Test</h1>
</div>
<h2 class="training-subtitle">Build career skills in data science, computer science, and more.</h2>

<div class="classes">
    {% for training in site.data.training %}
      {% assign loopstatus = forloop.index | modulo: 3 %}
          {% if training.link %}
          <a href="{{ site.baseurl }}/{{ training.link }}" class="class design"><span class="training-title">{{ training.name }}</span>
        {% if training.description %}
          <span class="training-description">
            {{ training.description }}
          </span>
        {% endif %}
          {% if training.link %}
              <span class="btn-flat">Learn More <span class="rarr">→</span></span>
          {% endif %}
        </a></h2>
        {% endif %}
      {% if loopstatus == 0 %}
      {% elsif forloop.last %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
