/*
----------------------------------------
USWDS with settings overrides
----------------------------------------
Uncomment the following lines and add a list of changed settings
in the form $setting: value,
----------------------------------------
*/


@use "uswds-core" with (
  // All settings can be found here:
  // https://designsystem.digital.gov/documentation/settings/


  //
  // PATHS
  //

  $theme-image-path: "../uswds/img",
  $theme-font-path: "../uswds/fonts",


  //
  // COMPONENT
  //

  $theme-header-logo-text-width: 50%,
  $theme-banner-max-width: "desktop-lg",
  $theme-footer-max-width: "desktop-lg",
  $theme-header-max-width: "desktop-lg",
  $theme-header-min-width: "desktop",
  $theme-identifier-max-width: "desktop-lg",
  $theme-site-alert-max-width: "desktop-lg",
  $theme-breadcrumb-background-color: "gray-2",
  $theme-breadcrumb-font-size: "xs",
  $theme-breadcrumb-padding-bottom: "2px",
  $theme-breadcrumb-padding-top: "2px",


  //
  // GENERAL
  //

  $theme-show-notifications: false,


  //
  // SPACING
  //

  $theme-grid-container-max-width: "desktop-lg",
  $theme-site-margins-breakpoint: "desktop-lg",


  //
  // TYPOGRAPHY
  //

  $theme-font-role-heading: "sans",
  $theme-body-font-size: "md",
  $theme-body-line-height: 5,
);
