---
layout: base
---

<div class="usa-grid">

  <h1>Guides</h1>

  <aside class="usa-width-one-fourth guide-nav">
    <ul class="usa-sidenav-list">
      <li><a href="{{ '/guides/' | prepend: site.baseurl }}">All guides</a></li>
      {% for audience in site.data.guides.audiences %}
        <li>
          <a class="{% if audience.name == page.audience_name %}usa-current{% endif %}" href="{{ site.baseurl }}/guides/{{ audience.slug }}/">{{ audience.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </aside>

  <div class="usa-width-three-fourths guide-content">
    <h2>{{ page.title }}</h2>
    <table class="usa-table-borderless">
      <thead class="usa-sr-only">
        <tr>
          <th id="guide-table-heading-title" scope="col">Title</th>
          <th id="guide-table-heading-description" scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        {% for category in site.data.guides.categories %}
        <tr>
          <th colspan="2" id="guide-table-heading-{{ category.slug }}"><b>{{ category.name }}</b></th>
        </tr>
          {% for guide in site.guides %}
            {% for ga in guide.audiences %}
              {% if ga == page.audience_name %}
                {% if guide.category == category.name %}
                  <tr>
                    <td headers="guide-table-heading-{{ category.slug }} guide-table-heading-title"><a href="{{ guide.url | prepend: site.baseurl }}">{{ guide.title }}</a></td>
                    <td headers="guide-table-heading-{{ category.slug }} guide-table-heading-description">{{ guide.description }}</td>
                  </tr>
                {% endif %}
              {% endif %}
            {% endfor %} <!--ga-->
          {% endfor %} <!--guide-->
        {% endfor %}<!--category-->
      </tbody>
    </table>
  </div>

</div>
