
<!-- This include is for the actual Service Categories pages -->

<div class="usa-product product-grid">
    <div class="product-nav">
        <a href="{{site.baseurl}}/enterprise-services"> All Categories </a>
        <i class="fa fa-caret-right"></i>
        {{ page.name }}
    </div>   
    <div class="usa-width-two-thirds">
        <section class="product-info">
            <h2>{{ page.name }}</h2>

            <p><strong>Service Type</strong></p>
            <p>{{ page.service_type }}</p>

            <p><strong>Service Category</strong></p>
            <p>{{ page.service_category }}</p>

            <p><strong>Service Owner Org.</strong></p>
            <p>{{ page.service_owner_org }}</p>

            <p><strong>Description</strong></p>
            <p>{{ page.long_description }}</p>
        </section>

<!-- how to expand accordian button to add tools underneath-->

        <section class="usa-accordian">
            <ul class="usa-unstyled-list">
                <li>
                    <button class="usa-accordion-button" aria-expanded="false" aria-controls="question-1">
                        Instant Messaging Test 
                    </button>

                    <div id="question-1" class="usa-accordion-content">
                        <H1>Test test test</H1>
                    </div>   
                </li>
            </ul>
        </section>
    </div>
</div>
    