
<section>
    <aside>
        <ul class="usa-sidenav-list">
            <li>
            <a href="#what-is-cloud-strategy" class="usa-current">
                What is Cloud Strategy
            </a>
            
            </li>
            
            <li>
            <a href="###what-do-we-mean-by-cloud?" class="usa-current">
                What do we mean by cloud?
            </a>
            
            </li>
            
            <li>
            <a href="">
                OMB's Cloud-first & Open Source Memos
            </a>
            </li>

            <li>
                <a href="">
                    Navigation
                </a>
                </li>
        </ul>
    </aside>    
</section>