<footer class="usa-footer">
  <div class="usa-grid">
    <nav>
      <div class="usa-footer-logo usa-width-one-fourth">
        <div class="footer-logos">
          <img src="{{ site.baseurl }}/assets/img/gsait_logo.svg" alt="GSA IT logo" class="footer-logo gsait-logo">
          <img src="{{ site.baseurl }}/assets/img/gsads-logo.svg" alt="GSA Digital Service logo" class="footer-logo gsads-logo">
        </div>
      </div>
      <div class="usa-width-one-fourth">
        <h3>About Us</h3>
        <ul class="usa-unstyled-list">
          <li><a href="{{ '/about' | prepend: site.baseurl }}">About us</a></li>
          <li><a href="{{ '/team' | prepend: site.baseurl }}">The team</a></li>
          <li><a href="{{ '/vision' | prepend: site.baseurl }}">CTO vision</a></li>
          <li><a href="{{ '/roadmap' | prepend: site.baseurl }}">Roadmap</a></li>
        </ul>
      </div>
      <div class="usa-width-one-fourth">
        <h3>Open Source</h3>
        <ul class="usa-unstyled-list">
          <li><a href="http://open.gsa.gov/">Open tech</a></li>
          <li><a href="https://github.com/gsa/cto-website">Edit this site</a></li>
          <li><a href="https://github.com/gsa/cto-website/issues">Submit feedback</a></li>
        </ul>
      </div>
      <div class="usa-width-one-fourth">
        <h3>Contact Us</h3>
        <ul class="usa-unstyled-list">
          <li><a href="{{ '/contact' | prepend: site.baseurl }}">Email us</a></li>
        </ul>
      </div>
    </nav>
  </div>
</footer>
