<footer class="usa-footer">
  <div class="usa-footer-primary-section">
    <div class="usa-grid-full">
      <nav class="usa-footer-nav">
        <ul class="usa-unstyled-list">
          <li class="usa-width-one-sixth usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="{{ '/vision' | prepend: site.baseurl }}">CTO Vision</a>
          </li>
          <li class="usa-width-one-sixth usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="{{ '/team' | prepend: site.baseurl }}">The team</a>
          </li>
          <li class="usa-width-one-sixth usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="mailto:cto@gsa.gov">Email us</a>
          </li>
          <li class="usa-width-one-sixth usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="#"></a>
          </li>
          <li class="usa-width-one-sixth usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="https://github.com/gsa/cto-website/issues">Send us feedback</a>
          </li>
          <li class="usa-width-one-sixth usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="https://github.com/gsa/cto-website">Edit this site</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="usa-footer-secondary_section usa-background-dark">
    <div class="usa-grid">
      <div class="usa-footer-logo usa-width-one-half">
        <p>Built by GSA Digital Service</p>
        <p><img src="{{ site.baseurl }}/img/gsads-logo.svg" alt="GSA Digital Service logo" class="gsads-logo"></p>
      </div>
      <div class="usa-footer-contact-links usa-width-one-half">
      </div>
    </div>
  </div>
</footer>
