<footer class="usa-footer">
  <div class="usa-grid">
    <nav>
      <div class="usa-width-one-fourth">
        <h3>Office of the CTO</h3>
        <ul class="usa-unstyled-list">
          <li><a href="{{ '/about/' | prepend: site.baseurl }}">About us</a></li>
          <li><a href="{{ '/team/' | prepend: site.baseurl }}">The team</a></li>
          <li><a href="{{ '/vision/' | prepend: site.baseurl }}">CTO vision</a></li>
        </ul>
      </div>
      <div class="usa-width-one-fourth">
        <h3>Open Source</h3>
        <ul class="usa-unstyled-list">
          <li><a href="http://open.gsa.gov/">GSA Open Technology</a></li>
          <li><a href="https://github.com/gsa/cto-website#contributing">Fork this site on GitHub</a></li>
          <!-- <li><a href="https://github.com/gsa/cto-website/issues">Submit feedback</a></li> -->
        </ul>
      </div>
      <div class="usa-width-one-fourth">
        <h3>Contact Us</h3>
        <ul class="usa-unstyled-list">
          <li><a href="{{ '/contact/' | prepend: site.baseurl }}">Email us</a></li>
        </ul>
      </div>
      <div class="usa-width-one-fourth">
        <h3>Also of Interest</h3>
        <ul class="usa-unstyled-list">
          <li><a href="https://www.gsa.gov/technology/government-it-initiatives/digital-strategy">GSA Digital Strategy</a></li>
          <!-- <li><a href="https://www.gsa.gov/about-us/organization/office-of-the-chief-information-officer/chief-technology-officer/it-standards">GSA IT Standards</a></li>
          <li><a href="https://www.gsa.gov/about-us/organization/gsa-it">About GSA IT</a></li> -->
        </ul>
      </div>
    </nav>
  </div>
</footer>
