<nav class="nav-topnav" id="nav-primary">
  <div class="usa-grid-full">
    <div class="nav-title">
      <a class="nav-title-logo" href="{{ '/' | prepend: site.baseurl }}"><img src="{{ site.baseurl }}/img/gsa_logo.svg" alt="GSA"></a>
      <a class="nav-title-text" href="{{ '/' | prepend: site.baseurl }}">Office of the CTO</a>
    </div>
    <div class="nav-toggle">
      <a id="nav-toggle-button" href="javascript:void(0);">&#9776;</a>
    </div>
    <ul class="nav-list usa-unstyled-list">
      <li><a href="{{ '/work/' | prepend: site.baseurl }}">Work With Us</a></li>
      <li><a href="{{ '/dashboard/' | prepend: site.baseurl }}">Dashboard</a></li>
    </ul>
  </div>
</nav>
