<header class="usa-header usa-header--basic techgsa-header">
  <div class="usa-nav-container techgsa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo" id="basic-logo">
        <em class="usa-logo__text"><a href="{{ '/' | prepend: site.baseurl }}" title="Home" aria-label="Home">{{ site.title }}</a></em>
      </div>
      <button class="usa-menu-btn">Menu</button>
    </div>
    <nav aria-label="Primary navigation" class="usa-nav">
      <button class="usa-nav__close"><img src="{{ site.baseurl }}/assets/vendor/uswds/img/usa-icons/close.svg" role="img" alt="close"></button>
      <ul class="usa-nav__primary usa-accordion">
        {% for item in site.data.navigation.primary %}
          <li class="usa-nav__primary-item">
            <a href="{{ item.href | prepend: site.baseurl }}" class="usa-nav__link {% if page.url contains item.href %}usa-current{% endif %}">
              <span>{{ item.text }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
      <form class="usa-search usa-search--small" role="search" action="{{ '/search/' | prepend: site.baseurl }}">
        <label class="usa-sr-only" for="search-field-en-small"> Search </label>
        <input
          class="usa-input"
          id="search-field-en-small"
          type="search"
          name="search"
        />
        <button class="usa-button" type="submit">
          <img
            src="{{ site.baseurl }}/assets/vendor/uswds/img/usa-icons-bg/search--white.svg"
            class="usa-search__submit-icon"
            alt="Search"
          />
        </button>
      </form>
    </nav>
  </div>
</header>
