
<div class="usa-product">
	<div class="usa-grid product-grid">

		<div class="product-nav">
			<a href="{{site.baseurl}}/cloud-strategy-products">
				All Products
			</a>
			<i class="fa fa-caret-right"></i>
			{{ page.name }}
		</div>

		<div class="product-content">
			<div class="usa-width-one-third">
				<div class="product-logo">
                    {% if page.picture %}
                     <img src="{{ site.baseurl }}/assets/img/cloud-strategy/{{ page.picture }}" alt="Picture of {{ page.name }}">
                    {% else %}
                     <img src="{{ site.baseurl }}/assets/img/cloud-strategy/govt-cloud.jpg" alt="" class="product-picture-none">
                    {% endif %}
				</div>

				{% if page.contact_name %}
					<a class="usa-button product-contact" href="mailto:{{ page.contact_email }}" target="blank">Contact</a>
				{% else %}
					<a class="usa-button usa-button-disabled product-contact">Contact</a>
				{% endif %}
                
			</div>
			<div class="usa-width-two-thirds">
				<section class="product-info">
					<h2>{{ page.name }}</h2>
					<p>{{ page.long_description }}</p>
				</section>
				<div class="proc-options">
					<h3>FAQ's</h3>
					<ul class="usa-accordion">
                        <li>
                            <button class="usa-accordion-button"
                            aria-expanded="true"
                            aria-controls="a1">
                            Service Owner
                            </button>
                            <div id="a1" class="usa-accordion-content">
                                Office of the Deputy Chief Information Officer, Office of Enterprise Infrastructure Operations, David Harrity, Associate CIO
                            </div>
                        </li>
                        <li>
                            <button class="usa-accordion-button"
                            aria-expanded="false"
                            aria-controls="a2">
                            How would you categorize this Service? 
                            </button>
                            <div id="a2" class="usa-accordion-content">
                                Platform Services; Infrastructure Services 
                            </div>
                        </li>
                        <li>
                            <button class="usa-accordion-button"
                            aria-expanded="false"
                            aria-controls="a3">
                            What Features & Functions does this Service Offer? 
                            </button>
                            <div id="a3" class="usa-accordion-content">
                                Provides GSA tenants computing environment(s) with core infrastructure managed services for end-users, business applications, and shared applications.
                            </div>
                        </li>
                        <li>
                            <button class="usa-accordion-button"
                            aria-expanded="false"
                            aria-controls="a4">
                            What is the Service Intended for? 
                            </button>
                            <div id="a4" class="usa-accordion-content">
                                Provides a landing environment for the development and oeprations of cloud-native applications.  
                            </div>
                        </li>
                        <li>
                            <button class="usa-accordion-button"
                            aria-expanded="false"
                            aria-controls="a5">
                            What is this Service Not Intended for? 
                            </button>
                            <div id="a5" class="usa-accordion-content">
                                Some constraints include: Classic/legacy applications that have strong dependencies on legacy hardware and on-prem resources (i.e Active Directory, legacy netowrking protocols). This service (platform) is also not good for any manual processes/steps to host an application. 
                            </div>
                        </li>
                        <li>
                            <button class="usa-accordion-button"
                            aria-expanded="false"
                            aria-controls="a6">
                            What's another way to summarize or think about this service offering? 
                            </button>
                            <div id="a6" class="usa-accordion-content">
                                This service offering is a self-provisioned cloud IaaS (infrastructure-as-a-service) in AWS commercial cloud for application teams to quickly on-board their applications with near full automation capability. 
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

	</div>
</div>
