.card {
  background-color: white;
  border: 1px solid $color-gray-lighter;
  box-shadow: 0px 2px 4px rgba(128, 128, 128, 0.2);
  margin-top: 2em !important;

  .card-content {
    padding: 1em;
  }

  h2 {
    font-size: 1.1em;
  }

  h2 a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
