/* Cloud Strategy styles */

.cloud-strategy-flex {

    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.cloud-strategy-icon {
    font-size: 44px; 
}

.cloud-strategy-section {
    margin-bottom: 150px;
}

.cloud-strategy-spacing {
    margin-bottom: 100px;    
}