/* Cloud Strategy styles */

.cloud-strategy-flex {

    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.cloud-strategy-icon {
    font-size: 44px; 
}

.cloud-strategy-section {
    margin-bottom: 80px;
}

.cloud-strategy-spacing {
    margin-bottom: 100px;
}

.cloud-strategy-image {
    font-size: 120px;
}

.flip-left {
    float: left;
    margin-right: 36.938px;
}

.flip-right {
    float: right;
    padding-left: 36.938px;
}

.section-2::after {
    content: "";
    clear: both;
    display: table;
}

.sidebar-sticky {
    position: sticky;
    top: 100px; 
}


//styles for cloud strategy products page
.cloud-products {
    .product {
        cursor: pointer;
        height: 220px;
        border-radius: 3px;
        box-shadow: 0 1px 4px rgba($color-black, .3);
        margin-top: 2rem;
        width: 250px;
    
        h2 {
            font-size: 2rem;
            margin: 1rem;
        }

        .product-short-description {
            margin: 1rem;
        }
    }
}