/* Team section styles */

/* Team index page listing */
.team {
  text-align: center;

  .member {
    margin-bottom: 2em;
  }

  img {
    border-radius: 50%;
    height: 50%;
    width: 50%;
    @media only screen and (min-width: $nav-breakpoint) {
      height: 120px;
      width: 120px;
    }
  }

  .member-role, .member-group {
    color: $color-gray;
    font-size: small;
  }
}

/* Individual member profile page */
.team-member {
  margin-top: 1em;
  h1 {
    margin-top: 0;
  }

  .member-role, .member-group {
    color: $color-gray;
    font-size: 1.2em;
  }

  img {
    border-radius: 50%;
    width: 100%;
    height: auto;
    max-width: 200px;
    max-height: 200px;
  }
}
