
.training-subtitle {
    text-align: center;
    margin-bottom: 5vw;
}

.classes {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    @media screen and (min-width: 900px) {
        flex-flow: row;
        justify-content: center;
        align-items: stretch;
    }
}

.class.design{
    text-decoration: none;
    border: 4px solid $color-gold;
    transition: border .3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    margin-bottom: 13px;
    font: 24px averta-regular,sans-serif;
    text-align: center;
    @media screen and (min-width: 900px) {
        margin-bottom: 30px;
        justify-content: space-around;
        margin-right: 5%;
        padding-top: 30px;
    }
}

.class     {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 3px;
    transition: border .3s ease-in-out;
}

.training-title {
    margin-bottom: 30px;
    padding: 0 5vw;
    color: $color-primary-darker;
}

.training-description {
    display: block;
    text-align: justify;
    text-justify: auto;
    padding: 0 20px;
    margin-bottom: auto;
    font: 18px/1.25em averta-regular,sans-serif;
    color: $color-gray;
}
.rarr {
    font-size: 13px;
}

.btn-enroll {
    margin: auto;
    display: block;
}

.btn-flat {
    background: $color-gold;
    transition: border .3s ease-in-out;
    font-size: 20px;
    margin-top: 2.5vw;
    line-height: 44px;
    font-weight: 700;
    color: $color-white;
}