{{ define "main" }}

  <div class="grid-container">

    <h1>GSA Tech Guides</h1>

    {{ .Content }}

    <div class="grid-row grid-gap">

      <div class="tablet:grid-col-3">
        <div class="position-sticky top-3 margin-top-3">
          <form class="usa-form">
            <fieldset class="usa-fieldset guides-filter">
              <legend class="usa-legend">Filter by Category</legend>
              {{ range .Pages.GroupByParam "category" }}
                <div class="usa-checkbox">
                  <input class="usa-checkbox__input guides-filter-category" id="category-{{ .Key | urlize }}" type="checkbox" name="categories" value="{{ .Key | urlize }}" checked>
                  <label class="usa-checkbox__label" for="category-{{ .Key | urlize }}">{{ .Key }}</label>
                </div>
              {{ end }}
            </fieldset>
            <button type="submit" class="usa-sr-only">Filter</button>
          </form>
        </div>
      </div>

      <div class="tablet:grid-col-9">
        {{ range .Pages.GroupByParam "category" }}
          <div class="guides-category" data-category="{{ .Key | urlize }}">
            <h2 class="guides-category-heading">{{ .Key }} Guides</h2>
            <ul>
              {{ range .Pages }}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
              {{ end }}
            </ul>
          </div>
        {{ end }}
      </div>

    </div>

  </div>

{{ end }}
