{{ define "main" }}

  <div class="grid-container">

    <h1>GSA Tech Guides</h1>

    {{ .Content }}  
      {{ range .Pages.GroupByParam "category" }}
        <div class="guides-category" data-category="{{ .Key | urlize }}">
          <h2 class="guides-category-heading">{{ .Key }} Guides</h2>
          <ul>
            {{ range .Pages }}
              <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
            {{ end }}
          </ul>
        </div>
      {{ end }}
  </div>

{{ end }}
