{{ define "main" }}

  <div class="grid-container">

    {{ partial "emergent-technology-heading" . }}

    {{ .Content }}

    <ul class="usa-card-group">
      {{ range .Pages }}
        <li class="tablet:grid-col-4 usa-card">
          <div class="usa-card__container">
            <header class="usa-card__header">
              <h2 class="usa-card__heading">{{ .Title }}</h2>
              <p class="text-uppercase">{{ .Params.intro.text }}</p>
            </header>
            <div class="usa-card__media">
              <div class="usa-card__img">
                <a href="{{ .RelPermalink }}"><img src="{{ .Params.intro.image }}" alt="{{ .Title }}" /></a>
              </div>
            </div>
            <div class="usa-card__body">
              <p>
                {{ .Params.excerpt }}
              </p>
            </div>
            <div class="usa-card__footer">
              <a class="usa-button" href="{{ .RelPermalink }}">More about {{ .Title }}</a>
            </div>
          </div>
        </li>
      {{ end }}
    </ul>

  </div>

{{ end }}
