{{ define "main" }}

  <div class="grid-container">

    <h1>Search</h1>

    <form class="usa-search" role="search" action="{{ .Permalink }}" method="get">
      <label class="usa-sr-only" for="search-field-search-field"> Search </label>
      <input
        class="usa-input"
        id="search-field-search-field"
        type="search"
        name="search"
      />
      <button class="usa-button" type="submit">
        <span class="usa-search__submit-text">Search</span>

        <img
          src="/assets/uswds/img/usa-icons-bg/search--white.svg"
          class="usa-search__submit-icon"
          alt="Search"
        />
      </button>
    </form>

    <div id="search-results"></div>

  </div>

  <script>var baseurl = "{{ .Site.BaseURL }}";</script>
  <script src="/assets/lunr/lunr.min.js"></script>
  <script src="/assets/js/search.js"></script>

{{ end }}
