backend:
  name: github
  repo: GSA/cto-website
  base_url: https://pages.cloud.gov
  auth_endpoint: external/auth/github
  preview_context: pages/build
  branch: main

site_url: https://tech.gsa.gov/
logo_url: https://tech.gsa.gov/assets/img/gsa_logo.svg
publish_mode: editorial_workflow
media_folder: "/static/assets/cms/files"
public_folder: "/assets/cms/files"

collections:

  - label: Tech Talk
    name: techtalk
    folder: content/techtalks
    create: true
    preview_path: techtalks
    summary: "{{date}} - {{title}}"
    slug: "{{date}}-{{slug}}"
    media_folder: "/static/assets/cms/techtalks"
    public_folder: "/assets/cms/techtalks"
    filter: { field: "menu" } # Workaround to exclude _index.md files from the content list
    fields:
      - { label: "Title", name: title, widget: string }
      - { label: "Date", name: date, widget: datetime, format: "YYYY-MM-DD", date_format: "YYYY-MM-DD", time_format: false }
      - { label: "Time", name: time, widget: string, default: "1:00pm - 1:30pm ET" }
      - { label: "Location", name: location, widget: string }
      - { label: "Presenter", name: presenter, widget: string }
      - { label: "Slides", name: slides, required: false, widget: file }
      - { label: "Description", name: body, widget: markdown }

  - label: Team Member
    name: team-member
    folder: content/team
    create: true
    preview_path: team/{{slug}}
    media_folder: "/static/assets/cms/team"
    public_folder: "/assets/cms/team"
    filter: { field: "menu" } # Workaround to exclude _index.md files from the content list
    fields:
      - { label: "Name", name: title, widget: string }
      - { label: "Role", name: role, widget: string }
      - { label: "Email", name: email, widget: string, required: false }
      - { label: "Photo", name: photo, widget: image, required: false, choose_url: false }
      - { label: "Order of Appearance", name: weight, widget: number, required: false, value_type: "int", default: 10, min: 0, max: 100, hint: "This should usually be left unchanged. By default, the website will list team members by last name." }
      - { label: "Biography", name: body, widget: markdown, required: false }

  - label: Emerging Technology
    name: emerging-technology
    folder: content/techradar/technologies
    create: true
    preview_path: techradar/technologies/{{slug}}
    slug: "{{title}}"
    media_folder: "/static/assets/cms/techradar"
    public_folder: "/assets/cms/techradar"
    filter: { field: "menu" } # Workaround to exclude _index.md files from the content list
    fields:
      - { label: "Title", name: title, widget: string }
      - label: Intro
        name: intro
        widget: object
        fields:
        - { label: "Text", name: text, widget: string }
        - { label: "Image", name: image, widget: image, choose_url: false }
      - { label: "Excerpt", name: excerpt, widget: text }
      - { label: "Content", name: body, widget: markdown, hint: "Use Heading 2 for major sections, with Headings 3-6 underneath as needed. Do not use Heading 1 at all." }
      - label: "Resources"
        name: resources
        widget: list
        fields:
          - { label: "Title", name: title, widget: string }
          - { label: "URL", name: url, widget: string }
      - label: "Stakeholders"
        name: stakeholders
        widget: list
        fields:
          - { label: "Title", name: title, widget: string }
          - { label: "URL", name: url, widget: string }
      - { label: "Layout", name: layout, widget: hidden, default: "technologies-single" }

  - label: Guide
    name: guide
    folder: content/guides
    preview_path: guides
    create: true
    media_folder: "/static/assets/cms/guides"
    public_folder: "/assets/cms/guides"
    filter: { field: "menu" } # Workaround to exclude _index.md files from the content list
    fields:
      - { label: "Title", name: title, widget: string }
      - label: Category
        name: category
        widget: select
        options:
          - Agile
          - API
          - Design
          - Development
          - DevSecOps
          - Team
      - { label: "Content", name: body, widget: markdown }
