---
---

$fa-font-path: "../fonts/font-awesome";
@import "font-awesome/font-awesome";
@import "uswds_variables";

$font-family-default: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$nav-breakpoint: 720px; // The point at which the nav bar collapses into a hamburger menu
$usa-disclaimer-height: 29px; // Height of the "official website " statement
$nav-height-mobile: 60px; // Nav bar height on small devices
$nav-height: 100px; // Nav bar height on larger devices

h1 {
  margin-top: 0.5em;
}

body.front {
  h2 {
    margin-top: 0.5em;
    text-align: center;
  }

  .vision-element {
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 1.1em;
    text-align: center;

    h2 a {
      text-decoration: none;
    }
  }

  .vision-element-icon i {
    font-size: 4em;
  }
}

.vision-element-icon {
  text-align: center;

  i {
    color: white;
    vertical-align: middle;
    border-radius: 50%;
    width: 1.6em;
    height: 1.6em;
    line-height: 1.6em;
  }

  .icon-share-technology        { background-color: $color-primary-alt-darkest; }
  .icon-make-small-bets         { background-color: $color-secondary-darkest; }
  .icon-modernize-and-innovate  { background-color: $color-gold; }
  .icon-be-open                 { background-color: $color-green; }
  .icon-users-come-first        { background-color: $color-cool-blue; }
}

.guide-content h2 {
  margin-top: 0;
}

.guide-category {
  margin-top: 0;
  color: $color-gray;
  font-size: 1.2em;
}

body:not(.front) {
  padding-top: $nav-height-mobile + $usa-disclaimer-height;
  @media only screen and (min-width: $nav-breakpoint) {
    padding-top: $nav-height + $usa-disclaimer-height;
  }
}

.usa-disclaimer {
  background-color: $color-base;
  color: $color-gray-lighter;
}

nav.nav-topnav {
  transition: all 0.25s ease;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  &.nav-transparent {
    @media only screen and (min-width: $nav-breakpoint) {
      background-color: transparent;
      margin: 1em auto;

      .usa-disclaimer {
        background: none;
        color: $color-gray-lighter;
        a {
          color: white;
        }
      }
    }
  }

  a, a:hover {
    text-decoration: none;
  }

  .nav-title {
    float: left;
    @media only screen and (min-width: $nav-breakpoint) {
      display: inline-block;
      margin: 0 3rem;
    }

    a.nav-title-logo img {
      float: left;
      margin: 10px;
      width: 40px;
      height: 40px;
      @media only screen and (min-width: $nav-breakpoint) {
        margin-left: 0;
        width: 80px;
        height: 80px;
      }
    }

    a.nav-title-text {
      display: inline-block;
      padding: 24px 0 0 0;
      font-size: 20px;
      font-weight: lighter;
      color: white;
      @media only screen and (min-width: $nav-breakpoint) {
        padding: 38px 0 0 0;
        font-size: 40px;
      }
    }
  }

  .nav-toggle {
    float: right;
    @media only screen and (min-width: $nav-breakpoint) {
      display: none;
    }

    a {
      line-height: $nav-height-mobile;
      display: block;
      padding: 0 1em;
      color: white;
    }
  }

  ul.nav-list {
    display: none;
    width: 100%;
    @media only screen and (min-width: $nav-breakpoint) {
      display: block;
      width: auto;
      float: right;
    }

    &.nav-revealed {
      display: inline-block;
    }

    li {
      display: block;
      @media only screen and (min-width: $nav-breakpoint) {
        display: inline-block;
      }
    }

    li a {
      line-height: $nav-height-mobile;
      display: block;
      padding: 0 1em;
      font-weight: lighter;
      color: white;
      border-top: 1px dotted #333;
      @media only screen and (min-width: $nav-breakpoint) {
        margin: 38px 0 0 0;
        font-size: 20px;
        text-transform: uppercase;
        border: none;
      }
    }
  }
}

header#front-hero {
  color: white;
  background-color: black;
  background-image: url(../img/whitehouse_bg.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: ($nav-height-mobile + $usa-disclaimer-height + 20px);
  padding-bottom: 20px;
  @media only screen and (min-width: $nav-breakpoint) {
    min-height: 600px;
  }

  .header-blurb {
    background: radial-gradient(rgba(0, 0, 0, 0.6) 30%, transparent 70%);
    @media only screen and (min-width: $nav-breakpoint) {
      margin-top: ($nav-height + 80px);
    }

    h1 {
      color: white;
      font-weight: bold;
      margin: 0;
      padding: 0;
      text-align: center;
      @media only screen and (min-width: $nav-breakpoint) {
        font-size: 3em;
      }
    }

    p {
      font-weight: lighter;
      text-align: center;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
      @media only screen and (min-width: $nav-breakpoint) {
        font-size: 2em;
      }
    }
  }
}

.page-content {
  min-height: 30em;
  margin-bottom: 3em;
}

ul.team {
  li {
    float: left;
    width: 200px;
    height: 220px;
    margin: 0 1em 1em 0;
    text-align: center;

    img {
      border-radius: 50%;
      height: 120px;
      width: 120px;
    }
  }

  .member-role, .member-group {
    color: $color-gray;
    font-size: small;
  }
}

.team-member {
  margin-top: 1em;
  h1 {
    margin-top: 0;
  }

  .member-role, .member-group {
    color: $color-gray;
    font-size: 1.2em;
  }

  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 200px;
  }
}

// Compensate for fixed nav when jumping to anchors on a page.
a[id]:not([href]) {
  display: block;
  position: relative;
  visibility: hidden;
  top: -($nav-height-mobile + $usa-disclaimer-height);
  @media only screen and (min-width: $nav-breakpoint) {
    top: -($nav-height + $usa-disclaimer-height);
  }
}

footer {
  color: white;
  padding: 2em 0;

  .gsads-built-by p {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ddd;
  }

  .gsads-logo {
    width: auto;
    height: 90px;
  }
}
