---
---

$fa-font-path: "../vendor/font-awesome/fonts";
@import "font-awesome/font-awesome";
@import "uswds_variables";

$font-family-default: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$nav-breakpoint: 800px; // The point at which the nav bar collapses into a hamburger menu
$usa-banner-height: 22px; // Height of the "official website" statement
$nav-height-mobile: 60px; // Nav bar height on small devices
$nav-height: 100px; // Nav bar height on larger devices
$nav-height-collapsed: 60px; // Nav bar height on larger devices after scrolling down

@import "guides";
@import "navigation";
@import "projects";
@import "team";
@import "techtalks";

body {
  color: $color-gray-warm-dark;
}

h1, h2, h3, h4, h5 {
  color: $color-primary-darker;
}

.usa-grid:first-child h1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

table th {
  text-align: center;
}

body.front {
  background-color: #f8f8f8;

  h2 {
    margin-top: 0.5em;
    text-align: center;
  }

  .vision-element {
    background-color: white;
    padding: 2em 1em;
    border: 1px solid $color-gray-lighter;
    box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.2);
    margin-top: 2em;
    font-size: 1.1em;
    text-align: center;

    h2 a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .vision-element-icon i {
    font-size: 4em;
  }
}

.vision-element-icon {
  text-align: center;

  i {
    color: white;
    vertical-align: middle;
    border-radius: 50%;
    width: 1.6em;
    height: 1.6em;
    line-height: 1.6em;
  }

  .icon-share-technology        { background-color: $color-primary-alt-darkest; }
  .icon-make-small-bets         { background-color: $color-secondary-darkest; }
  .icon-modernize-and-innovate  { background-color: $color-gold; }
  .icon-be-open                 { background-color: $color-green; }
  .icon-users-come-first        { background-color: $color-cool-blue; }
}

body:not(.front) {
  padding-top: $nav-height-mobile + $usa-banner-height;
  @media only screen and (min-width: $nav-breakpoint) {
    padding-top: $nav-height + $usa-banner-height;
  }
}

header#front-hero {
  color: white;
  background-color: $color-primary-darker;
  background-image: radial-gradient(ellipse at bottom center, $color-primary-darker, $color-base);
  padding-top: calc(#{$nav-height-mobile} + #{$usa-banner-height} + 4em);
  padding-bottom: 4em;

  .header-blurb {
    @media only screen and (min-width: $nav-breakpoint) {
      margin-top: 2em;
    }

    h1 {
      color: white;
      font-weight: normal;
      margin: 0;
      padding: 0;
      text-align: center;
      @media only screen and (min-width: $nav-breakpoint) {
        font-size: 3em;
      }
    }

    p {
      font-weight: lighter;
      text-align: center;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
      @media only screen and (min-width: $nav-breakpoint) {
        font-size: 2em;
      }
    }
  }
}

#main-content {
  @media only screen and (min-width: $nav-breakpoint) {
    min-height: 70vh;
  }

  margin-top: 1em;
  margin-bottom: 3em;
}

// Compensate for fixed nav when jumping to anchors on a page.
a[id]:not([href]), a[name]:not([href]) {
  display: block;
  position: relative;
  visibility: hidden;
  top: -($nav-height-mobile + $usa-banner-height);
  @media only screen and (min-width: $nav-breakpoint) {
    top: -($nav-height-collapsed + $usa-banner-height);
  }
}

footer {
  background-color: $color-gray-lightest;
  padding: 2em 0;

  h3 {
    margin-top: 1em !important;
  }

  .footer-logos {
    padding-top: 1em;
    margin-top: 1em;
  }

  .footer-logo {
    display: block;
    margin-bottom: 2em;
    width: 120px;
  }
}
