<nav class="nav-topnav" id="nav-primary">
  <div class="usa-disclaimer">
    <div class="usa-grid">
      <span class="usa-disclaimer-official">
        <p>An official website of the United States Government <img alt="US flag signifying that this is a United States Federal Government website" src="{{ '/uswds/img/us_flag_small.png' | prepend: site.baseurl }}"></p>
      </span>
      <span class="usa-disclaimer-stage">This site is currently in alpha. <!--a href="https://18f.gsa.gov/dashboard/stages/#alpha">Learn more.</a--></span>
    </div>
  </div>
  <div class="usa-grid-full">
    <div class="nav-title">
      <a class="nav-title-logo" href="{{ '/' | prepend: site.baseurl }}"><img src="{{ site.baseurl }}/img/gsa_logo.svg" alt="GSA"></a>
      <a class="nav-title-text" href="{{ '/' | prepend: site.baseurl }}">Office of the CTO</a>
    </div>
    <div class="nav-toggle">
      <a id="nav-toggle-button" href="javascript:void(0);">&#9776;</a>
    </div>
    <ul class="nav-list usa-unstyled-list">
      <li><a href="{{ '/vision/' | prepend: site.baseurl }}">Vision</a></li>
      <li><a href="{{ '/work-with-us/' | prepend: site.baseurl }}">Work with Us</a></li>
      <li><a href="{{ '/projects/' | prepend: site.baseurl }}">Projects</a></li>
      <li><a href="{{ '/' | prepend: site.baseurl }}">Home</a></li>
    </ul>
  </div>
</nav>
