//
// OVERRIDES FOR COMPONENTS SETTINGS
//

$theme-banner-max-width: "desktop-lg";
$theme-footer-max-width: "desktop-lg";
$theme-header-max-width: "desktop-lg";
$theme-header-min-width: "desktop";
$theme-identifier-max-width: "desktop-lg";
$theme-site-alert-max-width: "desktop-lg";

//
// OVERRIDES FOR GENERAL SETTINGS
//

$theme-show-notifications: false;


//
// OVERRIDES FOR SPACING SETTINGS
//

$theme-grid-container-max-width: "desktop-lg";
$theme-site-margins-breakpoint: "desktop-lg";


//
// OVERRIDES FOR TYPOGRAPHY SETTINGS
//

$theme-font-role-heading: "sans";
