{{ if not .IsHome }}
  <div class="techgsa-breadcrumbs">
    <div class="grid-container">
      <nav class="usa-breadcrumb" aria-label="Breadcrumbs,,">
        <ol class="usa-breadcrumb__list">
          {{ template "breadcrumb_items" (dict "p1" . "p2" .) }}
        </ol>
      </nav>
    </div>
  </div>
{{ end }}

{{ define "breadcrumb_items" }}
  {{ if .p1.Parent }}
    {{ template "breadcrumb_items" (dict "p1" .p1.Parent "p2" .p2) }}
  {{ end }}

  <li class="usa-breadcrumb__list-item">
    {{ if eq .p1 .p2 }}
      {{ .p1.Title }}
    {{ else }}
      <a class="usa-breadcrumb__link" href="{{ .p1.RelPermalink }}">{{ .p1.Title }}</a>
    {{ end }}
  </li>
{{ end }}
