{{ define "main" }}

  <section class="usa-section techgsa-hero" aria-label="Introduction">
    <div class="grid-container">
      <div class="techgsa-hero__intro">
        <h1>Modernizing GSA Technology</h1>
        <p>{{ .Site.Params.Description }}</p>
      </div>
    </div>
  </section>

  <section class="usa-section">
    <div class="grid-container">
      <ul class="usa-card-group">
        <li class="tablet:grid-col-4 usa-card usa-card--header-first">
          <div class="usa-card__container">
            <header class="usa-card__header">
              <h2 class="usa-card__heading">Tech Talks</h2>
            </header>
            <div class="usa-card__media usa-card__media--inset">
              <div class="usa-card__img">
                <div class="landing-area-icon">
                  <a href="{{ "techtalks" | relURL }}"><span class="fas fa-tv landing-area-icon__techtalks" aria-hidden="true"></span><span class="usa-sr-only">Tech Talks</span></a>
                </div>
              </div>
            </div>
            <div class="usa-card__body">
              <p>A couple of times each month, the Office of the CTO hosts live talks on technology topics, presented by experts from across GSA.</p>
            </div>
            <div class="usa-card__footer">
              <a href="{{ "techtalks" | relURL }}" class="usa-button">Attend a Tech Talk</a>
            </div>
          </div>
        </li>

        <li class="tablet:grid-col-4 usa-card usa-card--header-first">
          <div class="usa-card__container">
            <header class="usa-card__header">
              <h2 class="usa-card__heading">Emergent Technology</h2>
            </header>
            <div class="usa-card__media usa-card__media--inset">
              <div class="usa-card__img">
                <div class="landing-area-icon">
                  <a href="{{ "techradar" | relURL }}"><span class="fas fa-satellite-dish landing-area-icon__techradar" aria-hidden="true"></span><span class="usa-sr-only">TechRadar</span></a>
                </div>
              </div>
            </div>
            <div class="usa-card__body">
              <p>Emergent Technology convenes Federal innovators and connects them with actionable insights to more strategically mobilize emerging technologies and monitor, measure, and mitigate associated risks.</p>
            </div>
            <div class="usa-card__footer">
              <a href="{{ "techradar" | relURL }}" class="usa-button">Discover Technologies</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

{{ end }}
