{{ define "main" }}

  <div class="grid-container">

    <h1>GSA Tech Playbooks</h1>

    {{ .Content }}

    <table class="usa-table usa-table--borderless">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        {{ range .Pages }}
          <tr>
            <td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
            <td>{{ .Description }}</td>
          </tr>
        {{ end }}
      </tbody>
    </table>

  </div>

{{ end }}
