---
description: >
  This layout can be used for any page requring access to the full width of the
  page, unconstrained by a grid.
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="google-site-verification" content="pFZf0onYfrHV001eE8d4Zk-M8YneNIjOhFtSJpIUJMs">

    {% if page.collection == "team" %}
      <title>{{ page.firstname | escape }} {{ page.lastname | escape }} - {{ site.title | escape }}</title>
    {% else %}
      <title>{% if page.title %}{{ page.title | escape }} - {% endif %}{{ site.title | escape }}</title>
    {% endif %}

    <script src="{{ '/assets/vendor/uswds/js/uswds-init.min.js' | prepend: site.baseurl }}"></script>

    <link rel="stylesheet" href="{{ '/assets/vendor/fontawesome-free/css/all.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/assets/vendor/uswds/css/styles.css' | prepend: site.baseurl }}">
  </head>
  <body>

    {% include banner.html %}
    {% include header.html %}

    <div id="main-content">
      {{ content }}
    </div>

    {% include footer.html %}
    {% include identifier.html %}

    <script src="{{ '/assets/vendor/jquery/js/jquery.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/vendor/uswds/js/uswds.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/vendor/waypoints/js/jquery.waypoints.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/vendor/mousetrap/js/mousetrap.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ site.baseurl }}/assets/js/global.js"></script>
    <script src="{{ site.baseurl }}/assets/js/accordionomatic.js"></script>
    {% if layout.custom_js %}
      {% for file in layout.custom_js %}
        <script src="{{ site.baseurl }}/assets/js/{{ file }}.js"></script>
      {% endfor %}
    {% endif %}
    {% if page.custom_js %}
      {% for file in page.custom_js %}
        <script src="{{ site.baseurl }}/assets/js/{{ file }}.js"></script>
      {% endfor %}
    {% endif %}

    <!-- We participate in the US government's analytics program. See the data at analytics.usa.gov. -->
    <script async type="text/javascript" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=GSA" id="_fed_an_ua_tag"></script>

  </body>
</html>
