---
description: >
  This layout can be used for any page requring access to the full width of the page, unconstrained by a grid.
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <!--
    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
    OOOOOOOOOOOZOOOOOOOOOOOOOOOOOZOOOOOOOOOOOOOOOO8OOOOOOOOOOOOO
    OOOOOOOOI...........OOOOOO.........OOOOOOOOOOO.?OOOOOOOOOOOO
    OOOOOO=.....~OOO:...OOOOO....=OO,..OOOOOOOOOO...OOOOOOOOOOOO
    OOOOO....ZOOOOOOOOOOOOOO....OOOOOOOOOOOOOOOO.....OOOOOOOOOOO
    OOOO$...OOOOOOOOOOOOOOOO....OOOOOOOOOOOOOOOO......OOOOOOOOOO
    OOOO...~OOOOOOOOOOOOOOOOO.....OOOOOOOOOOOOO...O...OOOOOOOOOO
    OOOO...OOOOOO.......OOOOOO.......OOOOOOOOO...OOO...OOOOOOOOO
    OOOO...OOOOOO.......OOOOOOOOO......OOOOOOO.OOOOOOO,.OOOOOOOO
    OOOO....OOOOOOOOO...OOOOOOOOOOOO....OOOOO.. OOOOO...OOOOOOOO
    OOOOO...OOOOOOOOO...OOOOOOOOOOOO=...OOOO...OOO,OOO...OOOOOOO
    OOOOO:....OOOOOOO...OOOOOOOOOOOO....OOO..... ....OZ...OOOOOO
    OOOOOO8.............OOOOO..........OOOO.......OOOOO...:OOOOO
    OOOOOOOOO...........OOOOO........ZOOOO....~OOOOOOOOO...OOOOO
    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
    -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    {% if page.collection == "team" %}
      <title>{{ page.firstname | escape }} {{ page.lastname | escape }} - {{ site.title | escape }}</title>
    {% else %}
      <title>{% if page.title %}{{ page.title | escape }} - {% endif %}{{ site.title | escape }}</title>
    {% endif %}

    <link rel="stylesheet" href="{{ '/uswds/css/uswds.min.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">

    <script src="{{ '/uswds/js/uswds.min.js' | prepend: site.baseurl }}"></script>

    <!-- We participate in the US government's analytics program. See the data at analytics.usa.gov. -->
    <script async type="text/javascript" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=GSA" id="_fed_an_ua_tag"></script>
  </head>
  <body class="{{ page.bodyClasses }}">

    {% include header.html %}

    <div id="main-content">
      {{ content }}
    </div>

    {% include footer.html %}

    <script>

      // Handle the nav toggle button click event.
      var $navToggleButton = document.getElementById("nav-toggle-button");
      $navToggleButton.addEventListener("click", function () {
        document.getElementsByClassName("nav-list")[0].classList.toggle("nav-revealed");
      });

      // Trigger point at which to perform dynamic effects on the nav bar
      var triggerPoint = 60;
      var $navPrimary = document.getElementById("nav-primary");

      // On the front page, nav bar should be transparent before scrolling.
      if (document.body.classList.contains("front")) {
        // Initially set the nav to transparent.
        $navPrimary.classList.add("nav-transparent");
        // Remove transparency when scrolling down.
        window.addEventListener("scroll", function () {
          if (window.pageYOffset > triggerPoint) {
            $navPrimary.classList.remove("nav-transparent");
          } else {
            $navPrimary.classList.add("nav-transparent");
          }
        });
      }

      // Shrink the nav bar upon page scroll.
      window.addEventListener("scroll", function () {
        if (window.pageYOffset > triggerPoint) {
          $navPrimary.classList.add("scrolled");
        } else {
          $navPrimary.classList.remove("scrolled");
        }
      });

    </script>

  </body>
</html>
