<!DOCTYPE html>
<html lang="en">
  <head>
    <!--
    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
    OOOOOOOOOOOZOOOOOOOOOOOOOOOOOZOOOOOOOOOOOOOOOO8OOOOOOOOOOOOO
    OOOOOOOOI...........OOOOOO.........OOOOOOOOOOO.?OOOOOOOOOOOO
    OOOOOO=.....~OOO:...OOOOO....=OO,..OOOOOOOOOO...OOOOOOOOOOOO
    OOOOO....ZOOOOOOOOOOOOOO....OOOOOOOOOOOOOOOO.....OOOOOOOOOOO
    OOOO$...OOOOOOOOOOOOOOOO....OOOOOOOOOOOOOOOO......OOOOOOOOOO
    OOOO...~OOOOOOOOOOOOOOOOO.....OOOOOOOOOOOOO...O...OOOOOOOOOO
    OOOO...OOOOOO.......OOOOOO.......OOOOOOOOO...OOO...OOOOOOOOO
    OOOO...OOOOOO.......OOOOOOOOO......OOOOOOO.OOOOOOO,.OOOOOOOO
    OOOO....OOOOOOOOO...OOOOOOOOOOOO....OOOOO.. OOOOO...OOOOOOOO
    OOOOO...OOOOOOOOO...OOOOOOOOOOOO=...OOOO...OOO,OOO...OOOOOOO
    OOOOO:....OOOOOOO...OOOOOOOOOOOO....OOO..... ....OZ...OOOOOO
    OOOOOO8.............OOOOO..........OOOO.......OOOOO...:OOOOO
    OOOOOOOOO...........OOOOO........ZOOOO....~OOOOOOOOO...OOOOO
    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
    -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <title>{% if page.title %}{{ page.title | escape }} - {% endif %}{{ site.title | escape }}</title>

    <link rel="stylesheet" href="{{ '/uswds/css/uswds.min.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">

    <script src="{{ '/uswds/js/uswds.min.js' | prepend: site.baseurl }}"></script>
  </head>
  <body>

    {% include header.html %}

    <div class="page-content">
      {{ content }}
    </div>

    {% include footer.html %}

  </body>
</html>
