---
layout: page
description: >
  This layout is used for playbooks. Remember to use 'toc: true' in your
  playbook's front matter to automatically create the table of contents.
custom_js:
  - playbooks
---

<div class="grid-row grid-gap">
    <div class="tablet:grid-col-4">
      <div class="position-sticky top-3 margin-top-3">
        <nav aria-label="Playbook table of contents">
          {{ content | toc_only }}
        </nav>
      </div>
    </div>
  <div class="tablet:grid-col-8">
    {{ content }}
  </div>
</div>
