---
layout: page
description: >
  This layout is used for playbooks.
---

<h1>GSA Tech Playbooks</h1>

<nav class="usa-breadcrumb" aria-label="Breadcrumbs,,">
  <ol class="usa-breadcrumb__list">
    <li class="usa-breadcrumb__list-item">
      <a class="usa-breadcrumb__link" href="{{ site.baseurl }}/playbooks/">GSA Tech Playbooks</a>
    </li>
    <li class="usa-breadcrumb__list-item">
      {{ page.title }}
    </li>
  </ol>
</nav>

<div class="grid-row grid-gap">
  <div class="tablet:grid-col-4">
    <div class="position-sticky top-3 margin-top-3">
      <techgsa-toc target="#content" min="2" max="4"></techgsa-toc>
    </div>
  </div>
  <div class="tablet:grid-col-8" id="content">
    {{ content }}
  </div>
</div>
