---
layout: base
description: >
  This layout is used by the individual team member profile pages.
---

<div class="usa-grid">
  <p><a href="{{ '/team' | prepend: site.baseurl }}">&laquo; All team members</a></p>
</div>

<div class="team-member">
  <div class="usa-grid">
    <div class="usa-width-one-sixth">
      {% if page.photo %}
        <img src="{{ site.baseurl }}/img/team/{{ page.photo }}" alt="Photo of {{ page.name }}">
      {% else %}
        <img src="{{ site.baseurl }}/img/gsa_logo.svg" alt="Placeholder GSA logo since {{ page.name }} does not have a photo yet">
      {% endif %}
    </div>
    <div class="usa-width-five-sixths">
      <h1>{{ page.name }}</h1>
      {% if page.role %}<div class="member-role">{{ page.role }}</div>{% endif %}
      {% if page.group %}<div class="member-group">{{ page.group }}</div>{% endif %}
    </div>
  </div>
  <div class="usa-grid">
    <div class="usa-width-one-whole">
      {{ content }}
    </div>
  </div>
</div>
