---
layout: page
description: >
  This layout is used by the individual Emerging Technology pages.
---

<h1>CTO TechRadar</h1>

<nav class="usa-breadcrumb" aria-label="Breadcrumbs,,">
  <ol class="usa-breadcrumb__list">
    <li class="usa-breadcrumb__list-item">
      <a href="{{ '/techradar' | prepend: site.baseurl }}" class="usa-breadcrumb__link">
        <span>CTO TechRadar</span>
      </a>
    </li>
    <li class="usa-breadcrumb__list-item">
      <a href="{{ '/techradar/technologies' | prepend: site.baseurl }}" class="usa-breadcrumb__link">
        <span>Emerging Technologies</span>
      </a>
    </li>
    <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
      <span>{{ page.title }}</span>
    </li>
  </ol>
</nav>

<section class="emergingtech-intro">
  <div class="grid-row">
    <div class="tablet:grid-col-8">
      <h2 class="emergingtech-intro__title">{{ page.title }}</h2>
      <p class="emergingtech-intro__text">{{ page.subtitle }}</p>
    </div>
    <div class="tablet:grid-col-4">
      <img src="{{ page.image | prepend: site.baseurl }}">
    </div>
  </div>
</section>

<div class="grid-row grid-gap">

  <div class="tablet:grid-col-8">
    {{ content }}
  </div>

  <div class="tablet:grid-col-4">

    {% if page.resources %}
      <h3>Resources & Artifacts</h3>
      <ul class="usa-icon-list">
        {% for item in page.resources %}
          <li class="usa-icon-list__item">
            <div class="usa-icon-list__icon text-gray-30">
              <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                <use xlink:href="{{ site.baseurl }}/assets/vendor/uswds/img/sprite.svg#topic"></use>
              </svg>
            </div>
            <div class="usa-icon-list__content">
              <a href="{{ item.url }}">{{ item.title }}</a>
            </div>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if page.stakeholders %}
      <h3>Sectors & Stakeholders</h3>
      <ul class="usa-icon-list">
        {% for item in page.stakeholders %}
          <li class="usa-icon-list__item">
            <div class="usa-icon-list__icon text-gray-30">
              <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                <use xlink:href="{{ site.baseurl }}/assets/vendor/uswds/img/sprite.svg#account_balance"></use>
              </svg>
            </div>
            <div class="usa-icon-list__content">
              <a href="{{ item.url }}">{{ item.title }}</a>
            </div>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

  </div>

</div>
