---
layout: page
description: >
  This layout is used by pages in the TechRadar section.
---

<h1>CTO TechRadar</h1>

<nav aria-label="TechRadar secondary navigation" class="techradar-nav">
  <ul class="techradar-nav__items">
    {% for item in site.data.navigation.techradar %}
    {% assign last_item_path_component = item.href | split: "/" | last %}
      <li class="techradar-nav__item">
        <a href="{{ item.href | prepend: site.baseurl }}" class="techradar-nav__link {% if page.url contains item.href %}techradar-nav__current{% endif %}">
          <span>{{ item.text }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>

{% if page.intro %}
  <section class="techradar-intro">
    <div class="grid-row">
      <div class="tablet:grid-col-8">
        <h2 class="techradar-intro__title">{{ page.intro.heading | default: page.title }}</h2>
        <p class="techradar-intro__text">{{ page.intro.text }}</p>
        {% if page.intro.action %}
          <p><a class="usa-button" href="{{ page.intro.action.href | prepend: site.baseurl }}">{{ page.intro.action.text }}</a></p>
        {% endif %}
      </div>
      <div class="tablet:grid-col-4">
        {% if page.intro.image %}
          <img src="{{ page.intro.image | prepend: site.baseurl }}" alt="{{ page.title }}">
        {% endif %}
      </div>
    </div>
  </section>
{% endif %}

{{ content }}
