---
layout: page
description: >
  This layout is used by the individual Tech Talk pages.
---

<h1>Tech Talks</h1>

<nav class="usa-breadcrumb" aria-label="Breadcrumbs,,">
  <ol class="usa-breadcrumb__list">
    <li class="usa-breadcrumb__list-item">
      <a href="{{ '/techtalks' | prepend: site.baseurl }}" class="usa-breadcrumb__link">
        <span>Tech Talks</span>
      </a>
    </li>
    <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
      <span>{{ page.title }}</span>
    </li>
  </ol>
</nav>

<h2>{{ page.title }}</h2>

<p>{{ page.date | date_to_string: "ordinal", "US" }}, {{ page.time }}</p>

<h3>Presenter</h3>

<p>{{ page.presenter }}</p>

<h3>Objective</h3>

{{ content }}
