{{ $typeClass := printf "usa-alert--%s" (.Get "type") | default "" }}
{{ $slimClass := cond (.Get "slim" | default false) "usa-alert--slim" "" }}
{{ $iconClass := cond (.Get "icon" | default true) "" "usa-alert--no-icon" }}

<div class="usa-alert {{ $typeClass }} {{ $slimClass }} {{ $iconClass }}">
  <div class="usa-alert__body">
    {{ with .Get "heading" }}<h4 class="usa-alert__heading">{{ . }}</h4>{{ end }}
    <div class="usa-alert__text">
      {{ .Inner | markdownify }}
    </div>
  </div>
</div>
